!!!
%html
%head
 %title
 = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' 
 = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'  
 = csrf_meta_tags 
%body
%nav.navbar.navbar-default{role: "navigation"}
 .container
  .navbar-header 
   %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar
  %a.navbar-brand{:href => ""} Rails Jobs 
  #bs-example-navbar-collapse-1.collapse.navbar-collapse 
   %ul.nav.navbar-nav
    %li=link_to "All Jobs", root_path
    =link_to "New Job", new_job_path, class: "navbar-text navbar-right navbar-link" 
    - Category.all.each do |category|
     %li= link_to category.name, jobs_path(category:category.name)

.jumbotron  
.container 
 = yield 
 